[alias]
  int = init
  stat = status --short --branch
  psh = push
  apush = push --all
  apsh = apush
  cm = commit
  a = add
  pul = pull
  firstcom = commit --allow-empty -m \"Initial commit\"
  addtag = tag
  hist = log --graph --date=relative --decorate --all --pretty=format:\"%C(auto)%h%d %s %C(blue)(%an, %ar)\"
  df = difftool
  sw = switch
