[alias]
  int  = init
  stat = status --short --branch
  psh  = push
  apush = push --all
  apsh  = apush
  cm  = commit
  cmm = commit -m
  ecm = commit --amend --no-edit -m
  necm = commit --amend --no-edit
  a   = add
  pul = pull
  firstcom = commit --allow-empty -m \"Initial commit\"
  addtag = tag
  hist = log --graph --date=relative --decorate --all --pretty=format:\"%C(auto)%h%d %s %C(blue)(%an, %ar)\"
  df   = difftool
  sw   = switch
  cl   = clone
  ls   = stat
  list = ls
  unstage = restore --staged
  us  = unstage
  br  = branch
  rbr = branch -r
  brr = rbr
  abr = branch -a
  graph = log --graph
  alias = config --get-regexp ^alias
  ls = log --stat
  latest-sha = rev-parse --short HEAD
  files-change = diff HEAD~1 HEAD --name-status
  files-change-main = diff main HEAD --name-status
  fsc = files-change
  fscm = files-change-main
