[alias]
  int  = init
  stat = status --short --branch
  psh  = push
  apush = push --all
  apsh  = apush
  cm  = commit
  cmm = commit -m
  a   = add
  pul = pull
  firstcom = commit --allow-empty -m \"Initial commit\"
  addtag = tag
  hist = log --graph --date=relative --decorate --all --pretty=format:\"%C(auto)%h%d %s %C(blue)(%an, %ar)\"
  df   = difftool
  sw   = switch
  cl   = clone
  ls   = stat
  list = ls
  unstage = restore --staged
  us  = unstage
  br  = branch
  rbr = branch -r
  brr = rbr
  abr = branch -a
  graph = log --graph
